#trash{
    font-size: 25px;
    margin-left: 350px;
    margin-top: -50px;
}
#container{
    margin-left: 420px;
    display: sticky;
    margin-top: -485px;
    height: 877px;
    border: 2px solid rgb(215, 207, 207);
    border-top: 0px;
}
#title-input{
    border: 0px solid white;
    font-size: 50px;
}
#note-input{
    border: 0px solid white;
    font-size: 20px;
}
.note-form{
    background-color: red;
}